---
layout: default
---

{% include backgrounds.html %}

<div class="home">
    <div class="tab-content">
        <div class="col-md-8 col-md-offset-2 tab-pane fade in active" id="blog">
            <div class="panel" id="content-blog">
                <div class="panel-header">
                    <h3>Blog</h3>
                </div>
                <div class="panel-body">{% include blog.html %}</div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 tab-pane fade" id="jobs">
            <div class="panel" id="content-jobs">
                <div class="panel-header">
                    <h3>Jobs</h3>
                </div>
                <div class="panel-body">{% include jobs.html %}</div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 tab-pane fade" id="jams">
            <div class="panel" id="content-jams">
                <div class="panel-header">
                    <h3>Jams</h3>
                </div>
                <div class="panel-body">{% include jams.html %}</div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 tab-pane fade" id="open">
            <div class="panel" id="content-open">
                <div class="panel-header">
                    <h3>Open Source</h3>
                </div>
                <div class="panel-body">{% include opensource.html %}</div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 tab-pane fade" id="about">
            <div class="panel" id="content-about">
                <div class="panel-header">
                    <h3>About Me</h3>
                </div>
                <div class="panel-body">{% include about.html %}</div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 tab-pane fade" id="contact">
            <div class="panel" id="content-contact">
                <div class="panel-header">
                    <h3>Contact Me</h3>
                </div>
                <div class="panel-body">{% include contact.html %}</div>
            </div>
        </div>
    </div>
</div>
