<div class="row">
    <div class="col-md-3">
        <img src="img/me.png"/>
    </div>
    <div class="col-md-9">
        <h2>Hi, I'm Robert Newton.</h2>
        <p class="lead">
            I'm a software engineer based in the <abbr title="(I work remotely)">Solar System</abbr>.
        </p>
        <p class="lead">
            I work on <abbr title="(Web-based ones)">applications</abbr> and <abbr title="(For my own company)">games!</abbr>
            This is my personal, <abbr title="(mostly)">professional</abbr> website and portfolio. Have a look around and feel free to reach out.
        </p>
        <p class="lead">
            I like to work with <abbr title="(modern)">PHP</abbr> and Go for web-based apps and <abbr title="Mono">C#</abbr> and Unity for games.
            I'm always open to learning new things and pushing my boundaries. I have an <abbr title="(For a software developer)">unusual</abbr> interest
            in the natural world thanks to growing up in <abbr title="(Also responsible for a healthy appreciation for craft beer)">Colorado</abbr>.
            I have a genuine curiousity about the world, its wildlife, its people, its politics<abbr title="(its linguistics)">,</abbr> and its technology.
            I'm also into <abbr title="(And naming the beers using animal-related puns)">homebrewing</abbr>, <abbr title="(throwing discs at trees)">disc golf</abbr>,
            and traveling.
        </p>
        <p class="lead">
            Yes, the domain name is a pun. This is my <strong>work</strong> portfolio.
        </p>
        <blockquote>
            The newton metre is a unit of torque (also called "moment") in the SI system.
            It is also used as a unit of work.
        </blockquote>
    </div>
</div>
