<div class="background">
    <div id="blog-background" style="display: none;">
        {% include mountains.svg %}
    </div>
    <div id="jobs-background" style="display: none;">
        {% include code.svg %}
    </div>
    <div id="jams-background" style="display: none;">
        {% include disc-golf-basket.svg %}
    </div>
    <div id="open-background" style="display: none;">
        {% include fork.svg %}
    </div>
    <div id="about-background" style="display: none;">
        {% include dither.svg %}
    </div>
    <div id="contact-background" style="display: none;">
        {% include coffee.svg %}
    </div>
</div>
