<div class="site-nav-wrapper">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active col-xs-2" id="tab-blog">
                <a href="#blog" aria-controls="blog" role="tab" data-toggle="tab"><i class="fa fa-flask"></i> Blog</a>
            </li>
            <li role="presentation" class="col-xs-2" id="tab-jobs">
                <a href="#jobs" aria-controls="jobs" role="tab" data-toggle="tab"><i class="fa fa-briefcase"></i> Jobs</a>
            </li>
            <li role="presentation" class="col-xs-2" id="tab-jams">
                <a href="#jams" aria-controls="jams" role="tab" data-toggle="tab"><i class="fa fa-trophy"></i> Jams</a>
            </li>
            <li role="presentation" class="col-xs-2" id="tab-open">
                <a href="#open" aria-controls="open" role="tab" data-toggle="tab"><i class="fa fa-github-alt"></i> Open</a>
            </li>
            <li role="presentation" class="active col-xs-2" id="tab-about">
                <a href="#about" aria-controls="about" role="tab" data-toggle="tab"><i class="fa fa-user"></i> About</a>
            </li>
            <li role="presentation" class="col-xs-2" id="tab-contact">
                <a href="#contact" aria-controls="contact" role="tab" data-toggle="tab"><i class="fa fa-envelope"></i> Talk</a>
            </li>
        </ul>
    </div>
</div>
